<!DOCTYPE html>
<html lang="en">

<script>
    var _czc = _czc || [];
    _czc.push(["_setAccount", "1275971281"]);
 </script>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0 viewport-fit=cover">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <script src="js/polyfill.min.js"></script>
    <script src="js/swiper3.min.js"></script>

</head>

<body>
    <div id="root" v-cloak>
        
    </div>    
</body>

</html>

